@model List<EntityLayer.Entities.Slider>

<section id="slider">

    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>



                    <div class="carousel-inner">
                        @{ int v = 0;}
                        @foreach (var item in Model)
                        {
                            <div class="item @(v == 0 ? "active":"")">
                                <div class="col-sm-6">
                                    <h1><span>E</span>-SHOPPER</h1>
                                    <h2>@item.Header</h2>
                                    <p>@item.Description </p>

                                </div>
                                <div class="col-sm-6">
                                    <img src="~/Content/Image/@item.SliderImage" width="200" height="200" class="girl img-responsive" alt="" />

                                </div>
                            </div>
                            v++;
                        }


                    </div>
                </div>







                <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>


            </div>
        </div>
    </div>
</section>

